<div id="saved-joke-container">
  {{#if savedJokes.length}}
  <h3>Saved Jokes:</h3>
  <div id="joke-card-container">
    {{#each savedJokes}}
    <div class="joke-card">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <p>{{setup}}</p>
            <br>
            <p>{{punchline}}</p>
          </div>
          <div class="card-action">
            <button class="btn" data-id="{{id}}" type="button">Delete</button>
          </div>
        </div>
      </div>
      </div>
    {{/each}}
    </div>
  </div>
  {{else}}
  <p>You have no saved jokes yet!</p>
  {{/if}}
</div>

<script src="/js/delete-saved-joke.js"></script>
