<div id="saved-joke-container">
  <p>You have no saved jokes yet!</p>
  <h3>Saved Jokes:</h3>
  <div>{{!-- joke cards go here --}}</div>
</div>

<div>{{!-- recent searches go here, if we get to that --}}</div>