<div>
  <h2>Click on a category!</h2>
  <div id="category-container">
    <ul id="category-list">
      {{#each categories}}
        <li id="{{id}}" class="category-link"><a>{{category_name}}</a></li>
      {{/each}}
    </ul>
  </div>

  <div id="joke-card-container">
  </div>
</div>

<script src="/js/search.js"></script>