<div>
    <h2>Click on a category!</h2>
    <div id="category-container">
        <ul>
            <li>Dad Jokes</li>
            <li>Dark Humor</li>
            <li>Knock Knock</li>
        </ul>
    </div>

    <div>
        {{!-- once a category is clicked, joke cards go here --}}
    </div>
</div>
