<div>
  <h2>Click on a category!</h2>
  <div id="category-container">
    <ul>
      {{!-- {{#each categories as |category|}} --}}
      {{!-- logic to display categories here, will need js file for on click function --}}
      {{!-- {{/each}} --}}
    </ul>
  </div>

  <div id="search-result-container">
    {{! once a category is clicked, joke cards go here }}
  </div>
</div>
