<div>
  <h2>Click on a category!</h2>
  <div id="category-container">
    <ul>
      {{#each categories}}
        <li><a>{{category_name}}</a></li>
      {{/each}}
    </ul>
  </div>

  <div id="search-result-container">
    {{! once a category is clicked, joke cards go here }}
  </div>
</div>