<div>
    <h2>Click on a category!</h2>
    <div id="category-container">
        <li>{{!-- categories will go here --}}</li>
    </div>

    <div>
        {{!-- once a category is clicked, joke cards go here --}}
    </div>
</div>
