<div>
  <h2>Click on a category!</h2>
  <div id="category-container">
    <ul>
      {{#each categories}}
        <li id="{{id}}" class="category-link"><a>{{category_name}}</a></li>
      {{/each}}
    </ul>
  </div>

  <div id="search-result-container">
    {{! once a category is clicked, joke cards go here }}

  </div>
</div>

<script src="/js/search.js"></script>

{{! once a category is clicked, joke cards go here }}
<div class="col s12 m7">
  <h2 class="header">Horizontal Card</h2>
  <div class="card horizontal">
    <div class="card-image">
      <img src="https://lorempixel.com/100/190/nature/6" />
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>Joke Card</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>

<script src="/js/search.js"></script>